body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	background-color: hsl(30,100%,20%);
	margin: 0px;
	padding: 20px;
}
.wrapper {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.wrapper .navigation table tr td {
	padding-right: 10px;
	border: thick double #990000;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.wrapper .navigation table tr td a {
	color: hsl(30,100%,20%);
}


a:hover {
	font-weight: normal;
	background-color: hsl(0,0%,80%);
}
.wrapper .content h1 {
	text-align: center;
	padding-bottom: 10px;
}
.wrapper .content {
	color: hsl(30,100%,20%);
	padding: 40px;
	background-color: hsl(60,100%,80%);
	margin: 25px;
}


.wrapper .navigation table {
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	background-color: #FFFF99;
}
.wrapper .content p img {
	padding: 20px;
}

.wrapper .content p a {
	color: hsl(0,100%,50%);
}
.wrapper .content .center table tr td a {
	color: hsl(345,100%,40%);
}

.wrapper .content table td {
	border: thin solid hsl(0,0%,0%);
	padding: 5px;
}
.wrapper .content .center table {
	margin-right: auto;
	margin-left: auto;
}
.wrapper .content .NYC {
	padding-left: 135px;

}

.wrapper .footer {
	background-color: hsl(30,100%,20%);
	margin: 25px;
	padding-left: 405px;
}
.wrapper .navigation {
	background-color: #FFFF99;
	margin: 25px;
}
.wrapper .content table tr th {
	border: thin solid #000000;
}
.wrapper .logo  {
	text-align: center;
	letter-spacing: 4px;
	font-size: 20px;
	font-weight: bolder;
	color: #990000;
	padding: 4px;
	font-style: italic;
	background-color: #FFFF99;
	margin: 25px;
}
